.calculator {
    max-width: 530px;
    background-color: rgb(237, 237, 237);
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
}

input[type=text] {
    width: 315px;
    height: 25px;
    border-radius: 5px;
    border: 0px;
    background-color: #ffffff;
    color: #000000;
    padding: 0 5px 0 5px;
    margin: 0 0px 10px 84px;
}

.calc-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-color: black;
}

.button {
    margin: 3px;
    width: 63px;
    border: none;
    height: 25px;
    border-radius: 0px;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: hsla(180, 100%, 40%, 0.3);
    transition: .2s;
}

.functions-one {
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.functions-two {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.triggers {
    background-color: #66abff;
}

.numbers {
    background-color: #c7c7c7;
}

.basic-stuff {
    background-color: #989898;
}

.complex-stuff {
    background-color: #989898;
}
